html, body {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar{
    list-style-type: none;
    overflow: hidden;
    align-items: center;
    margin: auto;
    display: flex;
    background-color: #333;
    position: sticky;
    top: 0;
}

.navbar a{
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #555;
}

.navbar #ags {
    font-size: 76px;
    padding-right: 20px;
}

.navbar a:not(.company) {
    font-size: 26px;
}

.navbar .right-aligned{
    position: absolute;
    right: 0;  
}